//navigations

.nav {
  background-color: $sec-color;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 30;
  height: 3.5rem;

  .nav-wrap {
    background-color: $sec-color;
    overflow: hidden;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    border-top: 2px solid $dark-sec;
  }

  .nav-item a {
    display: block;
    padding: 0.5rem;
  }

  .nav-item a:hover {
    background-color: $dark-sec;
  }

  .logo-wrap {
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.2rem 0.2rem 0.5rem 0;
  }

  .menu-btn {
    display: none;
  }

  .menu-icon {
    padding: 1rem;
    position: relative;
    float: right;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-icon {
    background: $pri-color;
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    transition: background 0.2s ease-out;
  }

  .nav-icon::before,
  .nav-icon::after {
    background: $pri-color;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
  }

  .nav-icon::before {
    top: 5px;
  }

  .nav-icon::after {
    bottom: 5px;
  }

  .menu-btn:checked ~ .nav-wrap {
    max-height: 300px;
  }

  .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
  }
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    padding: 0 4rem;

    .nav-item {
      float: left;
    }

    .nav-item a {
      padding-right: 0;
      padding-left: 1.5rem;
    }

    .nav-item a:hover {
      background-color: transparent;
    }

    .nav-wrap {
      clear: none;
      float: right;
      background: none;
      max-height: none;
      border: none;
    }

    .menu-icon {
      display: none;
    }
  }
}
